.slidev-layout p {
    font-size: 20px;
    line-height: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.slidev-layout h1 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.slidev-layout h2 {
    margin-top: 6px;
    margin-bottom: 6px;
}

.slidev-layout h3 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.slidev-layout h4 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.slidev-layout h5 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.slidev-layout div {
    line-height: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.slidev-layout li {
    font-size: 20px;
    line-height: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 1.1em;
    padding-left: 0.2em;
}

ul,
ol {
    padding-top: 2px;
    padding-bottom: 2px;
}

